*
{
    font-family: Arial, Helvetica, sans-serif;
}
div.columns{
    width: 4.50in;
    padding-top: 25px;
    margin: 1px;
    margin-right: 3px;
    float: left;
 }

caption{
   font-size:200%;
   font-weight: bold;
   padding-top: 6px;
 }

 table.salary{
   border-collapse: collapse;
   width:100%;
 }

 .salary td, .salary th {
   border: 1px solid #ddd;
   padding: 8px;
   text-align: right;
 }

 .salary tr.highLight {
    background-color: black;
    color: white;
    font-weight: bold;
  }