<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>123 Dynamic - Design</title>
  <link th:href="@{/css/number.css}" rel="stylesheet" />
</head>
<body>
<div class="n123Parent">
  <h1> 123 - Dynamic </h1>

  <div th:each="n:${numbers}" th:class="${n.htmlSizeClass}" th:classappend="${n.htmlHighlightClass}" >
    <span th:text="${n.number}"/>
  </div>

  <div class="buttonGroup">
    <form th:object="${selectCountByNHighlightForm}">
      count by: <select th:field="*{displayCountBy}" >
      <option value="1"> One </option>
      <option value="2"> Two </option>
      <option value="3"> Three </option>
      <option value="4"> Four </option>
      <option value="5"> Five </option>
      <option value="6"> Six </option>
      <option value="7"> Seven </option>
      <option value="8"> Eight </option>
      <option value="9"> Nine </option>
      <option value="10"> Ten </option>
      <option value="20" selected="selected"> Twenty </option>
      <option value="25"> Twenty-Five </option>
      <option value="50"> Fifty </option>
      <option value="100"> Hundred </option>
    </select>

      highlight: <select th:field="*{displayHighlight}" >
      <option value="none"> no numbers </option>
      <option value="even"> even numbers </option>
      <option value="odd"> odd numbers </option>
      <option value="every.5"> every five numbers </option>
      <option value="every.10"> every ten numbers </option>
      <option value="contains.8" selected="selected"> numbers that contain 8 </option>
    </select>
      <input name="process" type="submit" value="count" />

    </form>
  </div>
</div>
</body>
</html>